[submodule "submodules/nectar_serial"]
	path = submodules/nectar_serial
	url = git@gitlab.com:nectarsun/nectarsun-s/nectar_serial.git
[submodule "submodules/device_menu"]
	path = submodules/device_menu
	url = git@gitlab.com:nectarsun/nectarsun-s/device_menu.git
