# ignore .vscode
.vscode/*
__pycache__/*

# ignore mbed-os lib
mbed/*
.temp/*

# ignore build folder
BUILD/*
DebugConfig/*
bin/*
source/NS-project/bin/*
source/NS-project/objects/*
source/NS-project/test/objs/*
source/NS-project/test/lib/*
*.pyc
*.d
*.o
*.a

# ignore other files
*.doman
*.uvoptx
*.uvprojx

mbed_config.h
GettingStarted.html
NectarSun_tests*
