# ignore .vscode
.vscode/*

# ignore mbed-os lib
mbed-os/*
mbed/*
.temp/*

# ignore build folder
BUILD/*
DebugConfig/*
bin/*

# ignore .py and .pyc files
*.pyc

# ignore other files
*.doman
*.uvoptx
*.uvprojx

mbed_config.h
GettingStarted.html